<?xml version="1.0" encoding="UTF-8" ?>
<launch>

    <arg name="robot_name" default="marvin_arm" />

    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find robot_arm_pkg)/udrf/robot_arm.xacro'"/>

    <!-- Start the robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Start the joint state publisher -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

    <!-- Start RVIZ -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_arm_pkg)/rviz/robot_arm.rviz" required="true" />

    <!-- Start the controller -->
    <!-- EMPTY -->

    <!-- Launch empty Gazebo world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch"> 
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- Spawn The Robot using the robot_description param -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -param robot_description -model $(arg robot_name)"/>

</launch>
