<launch>
    <!-- Launch Gazebo Simulation -->
    <include file="$(find robot_arm_pkg)/launch/view_robot_arm.launch"/>   

    <!-- Load Controller Configurations -->
    <rosparam file="$(find robot_arm_pkg)/config/arm_control_gazebo.yaml" command="load"/>

    <!-- Spawn Controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="/marvin_arm" args="joint_state_controller
                                                joint1_position_controller
                                                joint2_position_controller
                                                joint3_position_controller"/>

    <!-- Robot State Publisher GUI -->
    <!-- Publishes joint states as TF transforms with a GUI for real-time visualization and debugging -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
          respawn="false" output="screen">
        <remap from="/joint_states" to="/marvin_arm/joint_states"/>
    </node>

    <!-- publish joint states -->
	<!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="false" output="screen">
        <param name="/use_gui" value="false"/> -->

    <!-- RViz Visualization -->
    <!-- Uses RViz to provide a visual representation of the robot arm based on TF data -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_arm_pkg)/config/robot_arm.rviz" required="true"/>
</launch>
